/* -------------------- reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------- variables */

:root {
  --clr-dark: #070707;
  --clr-dark-2: #0c0c0c;
  --clr-white: #fff;
  --clr-body: #e4e4e4;
  --clr-primary: #fcd306;
  --clr-secondary: #e27341;
  --clr-stroke: #3c3c3c;
  --clr-grad: linear-gradient(
    90.39deg,
    #fcd306 3.01%,
    #e27341 34.63%,
    #e12688 53.32%,
    #fd03f6 72.01%
  );
}

/* -------------------- globals */

html {
  font-family: "Trenda", sans-serif;
}

body {
  color: var(--clr-body);
  background-color: var(--clr-dark);
  font-size: 1.125rem;
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
}

a {
  text-decoration: underline;
  color: var(--clr-body);
  cursor: pointer;
}

a.no-underline {
  text-decoration: none;
}

a.no-underline:hover {
  text-decoration: underline;
}

.bm8 {
  margin-bottom: 0.5rem;
}

.bm16 {
  margin-bottom: 1rem;
}

.bm24 {
  margin-bottom: 1.5rem;
}

.bm40 {
  margin-bottom: 2.5rem;
}

.bm64 {
  margin-bottom: 4rem;
}

.bm80 {
  margin-bottom: 5rem;
}

.bm120 {
  margin-bottom: 7.5rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  border: none;
  padding: 1rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: var(--clr-secondary);
}

/* -------------------- typo */

h1 {
  font-family: "Trenda", sans-serif;
  font-size: clamp(2rem, 1.25rem + 3.75vw, 5rem);
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--clr-white);
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-7 {
  font-size: 2rem;
}

.fc-grad {
  background: var(--clr-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fc-primary {
  color: var(--clr-primary);
}

.f-center {
  text-align: center;
}

/* -------------------- site */

header {
  padding-top: clamp(5rem, 2.5rem + 12.5vw, 15rem);
  margin-bottom: clamp(2.5rem, 1.25rem + 6.25vw, 7.5rem);
}

.content-w {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-item {
  display: flex;
  flex-direction: column;
  grid: 1.5rem;
  padding: 1rem;
  gap: 1.5rem;
  border: solid 0.5px var(--clr-stroke);
}

.item-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.title-w {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-link::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  background: url(/images/youtube.svg) no-repeat;
  margin-right: 0.5rem;
}

.content-item ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-item li {
  list-style: none;
}

.content-item li a {
  text-decoration: none;
}

.content-item li a:hover {
  text-decoration: underline;
}

/* -------------------- form */

.form-w {
  display: flex;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.25rem;
  row-gap: 0.5rem;
  margin: auto;
}

form * {
  border-radius: 0.25rem;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 1rem 1.5rem;
  border: solid 1px var(--clr-stroke);
}

.input-text {
  flex-grow: 3;
}

select {
  flex-grow: 2;
}

input:focus {
  outline: none;
  border: solid 1px var(--clr-white);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--clr-body);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--clr-body);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--clr-body);
}

/* -------------------- footer */

.footer-w {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* -------------------- iframe */

.wrapper {
  width: 100%;
  max-width: 320px;
}

.wrapper.active {
  width: 100%;
  max-width: none;
}

.youtube {
  background-color: var(--clr-dark-2);
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 0.25rem;
  cursor: pointer;
}

.youtube img {
  width: 100%;
  top: 0;
  /* opacity: 0.85; */
}

.youtube .play-button {
  width: 4.5em;
  height: 3em;
  background-color: var(--clr-primary);
  z-index: 1;
  opacity: 0.9;
  border-radius: 0.5em;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 0.5em 0 0.5em 1em;
  border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
  cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* -------------------- responsive */

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 520px) {
  .item-header {
    flex-direction: column;
  }

  .content-item img {
    max-height: none;
  }

  select,
  input {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .f-button {
    flex-grow: 1;
  }
}
